{% extends 'base.html' %} {% block content %}

    <div>
        <h2 class="post-title">{{ post.name }}</h2>
        <p class="post-author">Author: <strong>{{ post.author.username }}</strong></p>
        <p class="post-date">Published at: <em>{{ post.created_at }}</em></p>
        <p class="post-content">{{ post.content }}</p>

        {% for comment in comments %}
            <div class="comment" style="border: 1px solid #ccc; margin: 10px 0; padding: 10px;">
                <p class="comment-author"><strong>{{ comment.author.username }}</strong> said:</p>
                <p class="comment-content">{{ comment.content }}</p>
                <p class="comment-date">Commented at: <em>{{ comment.created_at }}</em></p>
            </div>
        {% endfor %}
        {% if user == post.author %}
            <p>User is creator</p>
            {% comment %} <a href="{% url 'post_edit' post.id %}">Edit</a> {% endcomment %}
        {% endif %}
    </div>


{% endblock %}