{% extends 'base.html' %}

{% block content %}
<div>
    <h1>Change Password</h1>
    <form method="post">
        {% csrf_token %}
        <ul style="list-style-position: inside;">
            {{ password_form.as_p }}
        </ul>
        <button type="submit" name="password_form_submit">Change Password</button>
    </form>
    <br>
    <form method="POST" action="{% url 'account' %}">
        {% csrf_token %}
        <button type="submit" name="edit_account">Edit Account</button>
    </form>
</div>
{% endblock content %}